// App vars
$font-size-base: 16px;
$line-height-base: 1.375rem;
$max-width: 200px;
$header-height: 4rem;

$brand-primary: blue;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

a {
  color: $brand-primary;
  cursor: pointer;
  text-decoration: underline;
}

button {
  $size: 2rem;
  appearance: none;
  background: none;
  border: 0;
  background-color: $brand-primary;
  color: white;
  line-height: $size;
  height: $size;
  min-width: $size;
  font-weight: bold;
  text-align: center;
  padding: 0 1rem;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  line-height: $header-height;
  z-index: 1;
  background-color: white;
  padding: 0 1rem;
}

.search {
  display: inline-block;
}

.gifs {
  columns: 3;
  column-gap: 0;
  margin-top: $header-height;
}

.gif {
  position: relative;
  cursor: pointer;
}

.still-gif {
  display: block;

  .gif:hover & {
    display: none;
  }
}

.animated-gif {
  display: none;

  .gif:hover & {
    display: block;
  }
}

.gif-actions {
  background-color: $brand-primary;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  padding: 1rem;

  .gif:hover & {
    display: block;
  }
}

.gif-action {
  background-color: white;
  color: $brand-primary;
}

.remove-gif {
  position: absolute;
  top: 0;
  right: 0;
  display: none;

  .gif:hover & {
    display: block;
  }
}

.gif-meta {
  display: none;
  padding: 1rem;

  .gif:hover & {
    display: block;
  }
}

.tag {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: 1px solid;
  padding: 0 0.25rem;
  text-transform: uppercase;

  + .tag {
    margin-left: 0.25rem;
  }
}

.remove-tag {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: $brand-primary;
  color: white;

  .tag:hover & {
    display: block;
  }
}

.add-tag {
  width: 100%;
  margin-top: 1rem;
}

.gif-ranking {
  display: flex;
  margin-top: 2rem;
}

.gif-ranking-item {
  cursor: pointer;
  flex: 1;
  text-align: center;
  font-size: 200%;

}
